html, body
{
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  color: #000000;
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px
}

input, select, textarea
{
  font-family: Verdana, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: normal;
  margin:0
}

pre
{
  font-size: 10pt
}

td
{
  margin: 0;
  padding: 1px
}

a:link, a:visited
{
  color: #1E77D3;
  text-decoration: none;
  font-weight: normal
}

a:hover, a:active
{
  color: #1E77D3;
  text-decoration: underline;
  font-weight: normal
}

.div_top
{
  width: 100%;
  background: #1E77D3;
  font-size: 14px;
  color: #E5EEF9;
  font-weight: bold;
  padding: 2px 0;
  margin: 0
}

.context
{
  background: #FFFFFF;
  width: 100%;
  padding: 10px
}

.menu
{
  padding: 5px 0;
  border-right: 1px solid #999999;
  border-bottom: 1px solid #999999;
  background-color: #E5EEF9
}

.menu_hdr
{
  margin: 0 0 5px 5px;
  font-size: 10px;
  font-weight: bold
}

.menu a:link, .menu a:visited
{
  border: 1px solid #E5EEF9;
  display: block;
  color: #000000;
  padding: 2px 2px 2px 15px;
  margin: 0 2px 0px 2px;
  font-weight: normal;
  width: 150px;
  text-decoration: none
}

.menu a:hover, .menu a:active
{
  border: 1px solid #E0E0E0;
  background-color: #F1F1F1;
  text-decoration: none;
  color: #000000
}

.bot_a:link, .bot_a:visited
{
  color: #000000;
  font-weight: bold;
  text-decoration: none
}

.bot_a:hover, .bot_a:active
{
  color: #000000;
  font-weight: bold;
  text-decoration: underline
}

.menu_sep
{
  border-top: 1px solid #999999;
  margin: 2px 0
}

.menu_info
{
  color: #000000;
  padding: 2px 2px 2px 15px;
  margin: 0 2px;
  font-weight: normal;
  width: 150px
}

.tbl1
{
  border: solid 1px #1E77D3;
  background: #F1F1F1;
  margin: 0 auto;
  padding: 1px
}

.tbl1 td
{
  white-space:nowrap
}

.td_hdr
{
  background: #1E77D3;
  color: #E5EEF9;
  font-weight: bold;
  padding: 1px;
  margin: 0
}

.td_hdr a:link, .td_hdr a:visited
{
  color: #E5EEF9;
  text-decoration: none;
  font-weight: bold
}

.td_hdr a:hover, .td_hdr a:active
{
  color: #E5EEF9;
  text-decoration: underline;
  font-weight: bold
}

.tdx1
{
  background: #FFFFFF;
  padding: 1px;
  margin: 0
}

.tdx2
{
  background: #E0E0E0;
  padding: 1px;
  margin: 0
}

.error
{
  color: #FF0000;
  font-weight: bold
}

.success
{
  color: #228B22;
  font-weight: bold
}

.screenshot
{
  border: solid 1px #FF0000
}

.popupmenu table
{
  color: #404040;
  border: solid 1px #000000;
  background-color: #FFFFFF
}

.popupmenu td
{
  padding: 0
}

.popupmenu a:link, .popupmenu a:visited
{
  border:           1px solid #FFFFFF;
  display:          block;
  color:            #404040;
  padding:          2px 15px;
  margin:           0;
  font-weight:      normal;
  text-decoration:  none;
  background-color: #FFFFFF
}

.popupmenu a:hover, .popupmenu a:active
{
  border:           1px solid #999999;
  background-color: #1E77D3;
  text-decoration:  none;
  color:#FFFFFF
}

.popupmenu hr
{
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0
}
