<style type="text/css">

  body {margin: 0px; padding: 0px; background-color: #FFFFFF}
  p {font-family: Arial, Helvetica, sans-serif; color: #606680; font-size: 8pt}
  td {font-family: Arial, Helvetica, sans-serif; color: #606680; font-size: 8pt}
 .tdavp{
    font-family: Arial, Helvetica, sans-serif;
    color: #C1C4D0;
    font-size: 8pt;
    text-decoration: line-through;
}
  /* input {border: 1px #606680 solid; background-color: #edf0f9; vertical-align: middle}*/
  /*select {border: 1px #606680 solid; background-color: #edf0f9; vertical-align: middle}*/
  input {
	border: 1px #606680 solid;
	background-color: #FFFFFF;
	vertical-align: middle;
	height: 18px;
	font-family: Tahoma, Arial;
	font-size: 11px;}
  select {border: 1px #606680 solid; background-color: #FFFFFF; height: 18px; font-family: Tahoma, Arial; font-size: 11px; vertical-align: middle}
  a {text-decoration: underline; color: #cc7286}
  a:hover {text-decoration: none; color: #606680}
  a.navbar {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; text-decoration: none; padding: 3px; color: #606680}
  a.navbar:hover  {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; text-decoration: none; padding: 2px; border: 1px solid #606680; background-color: #edf0f9}
  .navbar {font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #98a3d1; font-weight: bold; margin: 0px; padding: 10px; vertical-align: middle}
  .navbar img {vertical-align: middle}
  .titlebar {color: #ffffff; font-weight: bold; font-size: 14pt}
  .head {font-family: Arial, Helvetica, sans-serif; font-size: 8pt; text-align: center; font-weight: bold; padding: 3px; white-space: nowrap}
  .graph {font-family: Arial, Helvetica, sans-serif; color: #00000; font-size: 9pt; padding: 3px}
  .capt {font-weight: bold; color: #ffffff; white-space: nowrap}
  .cntbox {background-color:#ffffff; border: 1px #606680 solid}
  .detbox {background-color:#ffffff; border: 1px #606680; border-style: solid none}
  .gridbox {margin: 0px; border: 1px #606680 solid}
  .brd {border-width: 1px; border-color: #606680}
  .collapse {border-collapse: collapse}
  .rows {margin: 0px; border: 1px #ffffff solid}
  .sky {border-width: 1px; border-color: #e5f2f7}
  table {border-collapse: collapse}
  tab\le {border-collapse: separate;}
  /*\*//*/
  td table {width:97%; margin:0px 1px 0px 0px; padding:0px}
  /**/
.file1 {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #E8E8E8;
    border-right-color: #E8E8E8;
    border-bottom-color: #E8E8E8;
    border-left-color: #E8E8E8;
}
.file2 {
    background-color: #edf0f9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: none;
    border-top-color: #F7F7F7;
    border-right-color: #F7F7F7;
    border-bottom-color: #F7F7F7;
    border-left-color: #F7F7F7;
}
.prim_s{
background-color: #edf0f9;
border: 1px solid #CCCCCC;
}
.zag{
font-family: Arial, Helvetica, sans-serif; color: #4B5065;
}
.bhead{
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    font-family: Arial, Helvetica, sans-serif; color: #4B5065;
}
 .chck {border: 1px #606680 none; background-color: #edf0f9; vertical-align: middle}
 .chck1{border: 1px #606680 none; background-color: #FFFFFF; vertical-align: middle}
  .expname{font-family: Tahoma, Helvetica, sans-serif; color: #606680; font-size: 10pt};
.toptable {
    background-image: url(1/topbg.jpg);
    background-repeat: repeat-x;
}
.downtable {
    background-image: url(1/downbg.jpg);
    background-repeat: repeat-x;
    vertical-align: bottom;

}
.mnu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    border-top: 1px solid #EDA80C;
    border-right: 1px solid #EDA80C;
    border-bottom: 1px solid #EDA80C;
    border-left: 1px solid #FFFFFF;
}
.mnub {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    border-top: 1px solid #0066FF;
    border-right: 1px solid #0066FF;
    border-bottom: 1px solid #0066FF;
    border-left: 1px solid #FFFFFF;
}
.mnul {
    font-weight: bolder;
    border-right: 1px solid #EDA80C;
}
a.m:link{
    font-family: Tahoma;
    font-weight: bold;
    font-size: 10px;
    color: #5D5D5D;
    text-decoration: none;
}
a.m:visited{
    font-family: Tahoma;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}
a.m:hover{
    font-family: Tahoma;
    font-size: 10px;
    color: #000000;
    text-decoration: none;
}
a.m:active{
    font-family: Tahoma;
    font-size: 10px;
    color: #F6B11E;
    text-decoration: none;
    font-weight: bold;
}
.tblbg_1{
	background-color: #FFF9CC;
}
.tblbg_3{
	background-color: DCDCDE;
	border: 1px solid #000000;
}
.nav {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; COLOR: #000000; BORDER-BOTTOM: #666 1px solid; FONT-FAMILY: arial, helvetica, geneva, sans-serif
}
.navSpacer {
	WIDTH: 5px; HEIGHT: 10px}
.navNormal {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; FONT-FAMILY: arial, helvetica, geneva, sans-serif; border-radius: 2px; moz-border-radius: 2px
}
.navNormalbottom {
	 BORDER-BOTTOM: #999 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 2px;  PADDING-TOP: 2px; BBORDER-TOP: medium none; FONT-FAMILY: arial, helvetica, geneva, sans-serif; border-radius: 2px; moz-border-radius: 2px
}
.navActive {
	BORDER-RIGHT: #666 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #999 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: x-small; PADDING-BOTTOM: 2px; BORDER-LEFT: #999 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; FONT-FAMILY: arial, helvetica, geneva, sans-serif; border-radius: 2px; moz-border-radius: 2px
}
.navNormal {
	COLOR: #FFFFFF; BACKGROUND-COLOR: EDF0F9}
.navActive {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-FAMILY: arial, helvetica, geneva, sans-serif; BACKGROUND-COLOR: #DCDCDE}
.navNormal A:link {
	COLOR: #4B5065;
	text-decoration: none;
}
.navNormal A:active {
	COLOR: #4B5065
}
.navNormal A:visited {
	COLOR: #4B5065
}
.navActive A:link {
	COLOR: #000000}
.navActive A:active {
	COLOR: #4B5065
}
.navActive A:visited {
	COLOR: #4B5065
}
.navNormal A:hover {
	COLOR: CC7286}
.navActive A:hover {
	COLOR: #B30000
}

.percbar1 {
	border: 1px solid #CCCCCC;
}
</style>
