body{margin:0px;font-family:Verdana;font-size:10px}
input,select{margin:0px;font-family:Verdana;font-size:10px;border:1px solid #1E77D3;font-weight:normal}
td{margin:0px;font-family:Verdana;font-size:10px;padding:1px}
a:link,a:visited{color:#1E77D3;text-decoration:none;font-weight:normal}
a:hover,a:active{color:#1E77D3;text-decoration:underline;font-weight:normal}
.ism{background:#E5EEF9}
.top{background:#1E77D3;height:18px;font-size:14px;color:#E5EEF9;font-weight:bold;border-bottom:1px solid #999999;padding:0px}
.op{background:#FFFFFF;width:100%;height:100%;padding:10px}
.cp{border-top:1px solid #999999;background-color:#FFFFFF;text-align:right;font-size:10px;padding:0px}
.mnu{padding:5px 0px 5px 0px;border-right:1px solid #999999;background-color:#E5EEF9}
.mnuh{margin:0px 0px 5px 5px;font-size:10px;font-weight:bold}
.mnua:link,.mnua:visited{border:1px solid #E5EEF9;display:block;color:#000000;padding:2px 2px 2px 15px;margin:0px 2px 0px 2px;font-weight:normal;width:150px;text-decoration:none}
.mnua:hover,mnua:active{border:1px solid #CCCCCC;background-color:#F1F1F1;text-decoration:none;color:#000000}
.ca:link,.ca:visited{color:#000000;font-weight:bold;text-decoration:none}
.ca:hover,.ca:active{color:#000000;font-weight:bold;text-decoration:underline}
.mnul{border-top:1px solid #999999;margin:2px 0px 2px 0px}
.mnui{color:#000000;padding:2px 2px 2px 15px;margin:0px 2px 0px 2px;font-weight:normal;width:150px}
.tbl1{border:solid 1px #1E77D3;background:#F1F1F1;margin:0px;padding:1px}
.td1{background:#1E77D3;color:#E5EEF9;font-weight:bold;padding:1px;margin:0px}
.tdx1{background:#FFFFFF;padding:1px;margin:0px}
.tdx2{background:#CCCCCC;padding:1px;margin:0px}
.tdx1h{background:#FFFFFF;padding:1px;margin:0px;font-weight:bold;white-space:nowrap}
.tdx2h{background:#CCCCCC;padding:1px;margin:0px;font-weight:bold;white-space:nowrap}
.error{color:#FF0000}
.tde{background:#FF0000;color:#FFFFFF;font-weight:bold;padding:1px;margin:0px}
.tdw{background:#FFFF00;color:#FFFFFF;font-weight:bold;padding:1px;margin:0px}
.ok{color:#228B22}
.ssi{border:solid 1px #FF0000}
.ipu{color:#FF0000}
div.jsmenu{border:1px #777777 solid;padding:2px;margin:0;background-color:#FFFFFF}
.jsmenu table{color:#404040}.jsmenu td{padding:0}
.jsmenu a:link,.jsmenu a:visited{border:1px solid #FFFFFF;display:block;color:#404040;padding:2px 15px;margin:0;font-weight:normal;text-decoration:none;background-color:#FFFFFF}
.jsmenu a:hover,.jsmenu a:active{border:1px solid #999999;background-color:#1E77D3;text-decoration:none;color:#FFFFFF}
.jsmenu hr{border:1px solid #DDDDDD;margin:0;padding:0}